<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>51135838682-e540qtta5buq6qbthfrl15gdcm9thq4h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.51135838682-e540qtta5buq6qbthfrl15gdcm9thq4h</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>51135838682-204rnjvkm97n5tc1gqb96ko8i63ii50a.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA4U3UPH9LmzaWIp_6r1v9rY0PLdPlt24E</string>
	<key>GCM_SENDER_ID</key>
	<string>51135838682</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.askacegian</string>
	<key>PROJECT_ID</key>
	<string>ask-a-cegian-5f259</string>
	<key>STORAGE_BUCKET</key>
	<string>ask-a-cegian-5f259.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:51135838682:ios:84a82d3769e83895ace8e3</string>
</dict>
</plist>